# Competition bundles and submissions
bundle.zip
sample_code_submission.zip
*.zip
*.tgz
*.tar.gz
aaa.txt
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
*.pt
*.joblib
gap_*.png
utils/logs/simple_gnn_error_analysis/test_phase1_component_bar.png
utils/logs/simple_gnn_error_analysis/test_phase1_density_vs_error.png
utils/logs/simple_gnn_error_analysis/test_phase1_systematic_pylon_slice1.png
utils/logs/simple_gnn_error_analysis/test_phase1_systematic_pylon_slice2.png
utils/logs/simple_gnn_error_analysis/test_phase1_systematic_wing_slice1.png
utils/logs/simple_gnn_error_analysis/test_phase1_worstsim58_pylon_slice3.png
utils/logs/simple_gnn_error_analysis/test_phase1_worstsim58_wing_slice1.png
utils/logs/simple_gnn_error_analysis/test_phase1_worstsim58_wing_slice2.png
utils/logs/simple_gnn_error_analysis/test_phase1_worstsim58_wing_slice3.png
utils/logs/simple_gnn_error_analysis/test_phase1_systematic_pylon_slice3.png
utils/logs/simple_gnn_error_analysis/test_phase1_systematic_wing_slice2.png
utils/logs/simple_gnn_error_analysis/test_phase1_systematic_wing_slice3.png
utils/logs/simple_gnn_error_analysis/test_phase1_worstsim58_pylon_slice1.png
utils/logs/simple_gnn_error_analysis/test_phase1_worstsim58_pylon_slice2.png

# Virtual environments
.env
.venv
env/
venv/
ENV/
*/python_packages/

# Jupyter
.ipynb_checkpoints/

bundle/starting_kit/submission_mlp_klw/
bundle/starting_kit/submission_global_mlp/

*.db

# Data files
#bundle/feedback_phase/input_data/
#bundle/feedback_phase/reference_data/
#bundle/final_phase/input_data/
#bundle/final_phase/reference_data/
*.npy
feedback_phase/
*.cgns
*.blk
FILES*
*.json
VISU*

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs and outputs
*.log
output/
results/

#divers
pages2/
FILES*.tgz
FILES*/
bundle/test_local.sh
.FIL*

github.txt
