# Competition bundles and submissions
bundle.zip
sample_code_submission.zip
*.zip
*.tgz
*.tar.gz
aaa.txt
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
*.pt 
*.png

# Virtual environments
.env
.venv
env/
venv/
ENV/
*/python_packages/

# Jupyter
.ipynb_checkpoints/


# Data files
#bundle/feedback_phase/input_data/
#bundle/feedback_phase/reference_data/
#bundle/final_phase/input_data/
#bundle/final_phase/reference_data/
*.npy
feedback_phase/
*.cgns
*.blk
FILES*
*.json
VISU*

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs and outputs
*.log
output/
results/

#divers
pages2/
FILES*.tgz
FILES*/
bundle/test_local.sh
.FIL*

github.txt
